{% extends 'base.html' %}

{% load static %}
{% block content_block %}

<div class="list_content">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file">
        <br>
        <br>
        <!--<button type="submit">Upload</button>-->
        <button type="submit" class="btn btn-success">Upload</button>
    </form>

    <br>
    <form action="{% url 'project:logout' %}" method="post">
        {% csrf_token %}
        <!--<input type="submit" value="Log out">-->
        <button type="submit" class="btn btn-info">Log out</button>
    </form>
</div>
{% endblock %}